@{
    ViewData["Title"] = "Sobre Nós";
}

<section class="class1">
    <h3>A Nossa Missão</h3>
    <p>Este projeto tem como missão proporcionar aos utilizadores uma plataforma acessível e eficaz para realizar atividades de caridade, permitindo a doação de artigos ainda funcionais às pessoas em necessidade.</p>
    <p>Também permite reduzir o desperdício de bens não alimentares, promovendo a reutilização e o reaproveitamento de objetos ainda úteis.</p>
    <p>Contudo o projeto contribui para a diminuição da poluição causada pela produção e pelo descarte inadequado de produtos, e a construção de uma sociedade mais colaborativa, consciente e sustentável.</p>
    <p>O trabalho foi realizado no âmbito da disciplina de ESA e PV.</p>
</section>

<section>
    <h4>Docentes:</h4>
    <ul>
        <li><strong>Professor Paulo Fournier</strong></li>
        <li><strong>Professor José Cordeiro</strong></li>
    </ul>
    <hr>
    <h4>Desenvolvedores:</h4>
    <ul>
        <li><strong>António Rebelo</strong> - <a href="mailto:201901111@estudantes.ips.pt">201901111@estudantes.ips.pt</a></li>
        <li><strong>Rodrigo Arraiado </strong> - <a href="mailto:202100436@estudantes.ips.pt">202100436@estudantes.ips.pt</a></li>
        <li><strong>Alexandro Botan </strong> - <a href="mailto:202200181@estudantes.ips.pt">202200181@estudantes.ips.pt</a></li>
        <li><strong>Filipe Xu</strong> - <a href="mailto:202200185@estudantes.ips.pt">202200185@estudantes.ips.pt</a></li>
    </ul>
</section>
