@page
@model ForgotPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #f5f5f5;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            font-family: sans-serif;
        }

        .login-container {
            background-color: #C4E5C2;
            border: 1px solid #000000;
            padding: 30px;
            width: 100%;
            max-width: 500px;
        }

        .form-control {
            background-color: #E8F5E9;
            border: 1px solid #000000;
        }

            .form-control:focus {
                border-color: #000;
                outline: none;
                box-shadow: none;
            }

        .form-floating {
            font-size: 14px;
        }

        label {
            color: #000;
        }

        #login-submit {
            background-color: #68B064;
            color: #FFFFFF;
            border: none;
            width: 100%;
            padding: 10px 20px;
            font-weight: 600;
            border-radius: 5px;
            margin-top: 10px;
        }

        .text-danger {
            color: red;
            font-size: 13px;
            margin-top: 5px;
        }

        .validation-summary-errors ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        h1, h2 {
            text-align: center;
            color: #000;
        }

        hr {
            margin: 16px 0;
            border-top: 1px solid #000000;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h1>Redefinir a password?</h1>
        <hr />
        <form method="post" class="mt-4">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

            <div class="form-group">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password">Nova Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <button type="submit" id="login-submit">Redefinir Senha</button>
        </form>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>